/* You can add global styles to this file, and also import other style files */
h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: aqua;
    padding: 0;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: azure;
    padding: 50px;
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
}