.header-container{
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: larger;
    color: chocolate;
}