.sidebar-container {
    width: 20%;
    height: 100vh;
    background-color: lightgoldenrodyellow;
}

.sidebar-links {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

.active {
    text-decoration: underline;
    color: blue;
}